@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Roboto:wght@300;400;500&display=swap');

* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: #E5E5E5;

}


/* mobile  */
@media (min-width: 0px)  {
  .wrapper {
    display: grid;
    grid-template-rows: 0.5fr 2fr 1fr ;
    height: 100vh;
    background: #E5E5E5;
  }
  
  .header, .input-message, .out-message-encrypt {
    height: 100%;
    background: #E5E5E5;

  }

  
  .message {
    font-weight: 500;
    justify-content: stretch;
    width: 100%;
    height: 55%;
    font-size: 2em;
    color: #0A3871;
    background: #E5E5E5;

  }

  .message:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
  }

  .message::placeholder {
    color: #0A3871;
  }

  .warning-message {
    margin: 0;
    margin-bottom: 0.5em;
    color: #343A40;
    font-size: 0.7em;
    display: flex;
    align-items: center;
  }

  .img-exclamation {
    height: 1em;
    margin-right: 0.5em;
  }

  .buttons {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8%;
    
  }
  .encrypt {
    background: #0A3871;
    border: none;
    color: #FFFFFF;
    padding: 1.2em;
    border-radius: 1rem;
    cursor: pointer;

  }

  .decrypt, .button-copy {
    border: solid #0A3871 1px;
    color: #0A3871;
    padding: 1.2em;
    border-radius: 1rem;
    background-color: #D8DFE8;
    cursor: pointer;
  }

  .button-copy:focus {
    background-color: #0A3871;
    color: #D8DFE8;
    transition: 10ms;
  } 

  .button-copy {
    background-color: white;
    width: 100%;
  }
  
  .container-button-copy {
    display: flex;
    height: 60%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: none;
  }


  .out-message-encrypt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 2em 2em 0em 2em;  
    background-color: #FFFFFF;
    border-radius: 1em;
    box-shadow: 1px 6px 10px -4px rgba(0,0,0,0.2);
    height: 100%;  

  }

  /* .out-message-encrypt {
    background-color: #FFFFFF;
    border-radius: 1em;
    box-shadow: 1px 6px 10px -4px rgba(0,0,0,0.2);
    height: 100%;

  } */


  .out-message-not-found {
    text-align: center;
    font-weight: bold;
    font-size:1.3em;
    margin: 0;
  }

  .out-message {
    text-align: center;
    font-weight: 400;
    opacity: 1;
    font-size: 0.9em;
    color: grey;

  }

  

  .img-not-message {
    display: none;
  }

  .out-message-cript {
    word-break: break-all;
    color: grey;
    font-size: 1em;
    height: 100%;
    max-width: 100%;
    text-align: justify;
  }

}

/* tablet */
@media (min-width: 481px) and (max-width: 800px) {
  .buttons {
    width: 100%;
    height: 17%;
    display: flex;
    flex-direction: row;
    gap: 8%;
  }
  .encrypt {
    background: #0A3871;
    border: none;
    color: #ffff;
    border-radius: 1rem;
    align-self: stretch;
    flex-grow: 1;

  }

  .decrypt {
    border: solid #0A3871 1px;
    color: #0A3871;
    border-radius: 1rem;
    flex-grow: 1;
  }

  .img-not-message {
    display: none;
  }


}

/** desktop */
@media (min-width: 801px) {
  .wrapper {
    display: grid;
    grid-template-rows: none;
    grid-template-columns: 1fr 2.5fr 1.5fr;
    height: 100vh;
    padding: 1em;

  }

  .header {
    width: 100%;
    display: grid;
    justify-items: center;
  }

  .input-message {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 2em;
  }

  .message {
    margin-top: 10%;
    height: 70%;
  }

  .warning-message {
    display: flex;
    align-items: flex-end;
    height: 10%;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20%;
    
  }

  .encrypt {
    flex-grow: 1;
    cursor: pointer;
  }

  .decrypt {
    flex-grow: 1;
    cursor: pointer;

  }

  .img-not-message {
    display: block;
    height: 50%;
    width: 100%;
  }

  .out-message-encrypt {
    background-color: #FFFFFF;
    border-radius: 1em;
    box-shadow: 1px 6px 10px -4px rgba(0,0,0,0.2);
    height: 100%;

  }


  .container-button-copy {
    height: 20%;
  }
}